<div id="home">
  <div class="container">

    <div class="jumbotron">
      <h1 class="display-4">
        <h1 class="text-center">{{msg}}</h1>
        <p class="lead text-center">Learn confidently.</p>
        <hr>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod felis id felis
          accumsan fringilla.</p>
        <br>
        <form action="POST">
          <div class="form-group">
            <input type="text" id="search-term" class="form-control text-center" aria-describedby="example-text"
              placeholder="Enter a search term">
          </div>
          <div class="text-center">
            <button id="submit-project" class="btn btn-dark center-block">Search Projects</button>
            <button id="submit-topic" class="btn btn-dark center-block">Search Topics</button>
        </form>
    </div>
  </div>

  {{!-- NJIB inserted temporary test button --}}
  <div>
    <button class="star">**Star button**</button>
  </div>
  {{!-- End of NJIB temporary code --}}


  <div id="results">
    {{#if showresults}}
    <h3>Results:</h3>
    <ul id="results-list" class="list-group">
      {{#each results}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="result/{{this.id}}">{{this.text}}</a>
      </li>
      {{/each}}
      {{/if}}
    </ul>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>