h1 {
 /* font-family: 'Open Sans Condensed', sans-serif; */
 font-family: 'Odibee Sans', cursive;
 color: white;
font-size: 150px;
}

p {
  color: white;
  font-size: 25px;
}

/* #results {
visibility: hidden;
} */

#background {
  background-image: url('https://cdn.pixabay.com/photo/2018/09/16/22/08/software-3682509_960_720.jpg');
}

#submit-project{
  margin-bottom: 50px;
}

#results {
  background-color: white;
}

.btn {
  background-color: #921298;
  color: white;
}

.card {
  border-color: black
}
